* {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.home {
  /* outline: solid 1px rgba(255, 0, 0, 0.445); */
  /* background-color: rgba(165, 42, 42, 0.082); */

  /* align items */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home * {
  margin: 10px;
}

.sub-title {
  text-align: center;
}

.spacer {
  opacity: 0;
}

.foot {
  margin-top: 0;
}

img {
  width: 200px;
}
